#Data Types in Python
#Numeric Types:                                                         
##int:                                            
Integer numbers, e.g., 5, -3, 1000.                            
##float:
Floating-point numbers, e.g., 3.14, -0.001, 2.0.                                                                                                                            
#Sequence Types:                                                                     
##string:
Strings, e.g., "hello", 'python', "123".                                                           
##list:
Ordered collections of items, e.g., [1, 2, 3], ['apple', 'banana', 'orange'].                                        
##tuple:
Immutable ordered collections of items, e.g., (1, 2, 3), ('a', 'b', 'c').                                                                
#Mapping Type:                                             
###dict:                                          
Collection of key-value pairs, e.g., {'name': 'Alice', 'age': 30}, {1: 'one', 2: 'two'}.                       
###Set Types:

set: Unordered collections of unique items, e.g., {1, 2, 3}, {'apple', 'orange', 'banana'}.                           
frozenset: Immutable set, e.g., frozenset({1, 2, 3}).                                                               
#Boolean Type:                                                      
###bool:
Represents truth values, either True or False.                                                                   
###None Type:
None: Represents the absence of a value or a null value.

#List -
Encloses in Square brackers
1. **Ordered**: Items in a list maintain their order.
2. **Mutable**: Lists can be changed after creation.
3. **Dynamic**: Lists can change in size as needed.
4. **Heterogeneous**: Lists can contain different types of elements.
5. **Indexed**: Elements in a list can be accessed by their position.
6. **Common Operations**: Lists support various actions like adding, removing, and accessing elements.
Allows Duplicates

In [1]:
numbers = [10, 20, 30, 40, 50]
numbers

[10, 20, 30, 40, 50]

In [3]:
#Modifying elements
numbers[1] = 25
numbers

[10, 25, 30, 40, 50]

In [4]:
#Adding Elements
numbers.append(30)
numbers

[10, 25, 30, 40, 50, 30]

In [5]:
#Removing Element
numbers.remove(30)
numbers

[10, 25, 40, 50, 30]

In [8]:
#indexing
my_list = [10, "hello VEC", 3.3, True]

In [9]:
print(my_list[1])

hello VEC

In [10]:
#Slicing
print(my_list[1:3])

['hello VEC', 3.3]

In [11]:
print(my_list[-1:])

[True]

#Tuple
tuples are often enclosed within parentheses ()
1. **Ordered**: Like lists, tuples maintain the order of elements.
2. **Immutable**: Unlike lists, tuples are immutable, meaning once they are created, their elements cannot be changed, added, or removed.
3. **Fixed Size:** Tuples have a fixed size after creation. You can't resize them like lists.
4. **Heterogeneous:** Tuples, like lists, can contain elements of different data types.
5. **Indexed:** Elements in a tuple can be accessed using their index.

In [13]:
my_tuple = (1, "hello", 3.14, True)
my_tuple

(1, 'hello', 3.14, True)

In [14]:
print(my_tuple[1])

hello

In [15]:
my_tuple[0]=2

TypeError: 'tuple' object does not support item assignment

##Dictionary
1. **Key-Value Pairs**: Each element in a mapping pairs a unique key with its corresponding value.
2. **Unordered**: The arrangement of elements in mappings doesn't follow a specific order.
3. **Mutable**: Most mapping types allow modifications such as adding, removing, or changing key-value pairs after creation.
4. **Keys are Unique**: Each key within a mapping must be distinct; attempting to add a duplicate key overwrites the existing value.
5. **Heterogeneous Values**: Mappings can accommodate values of various data types, including numbers, strings, lists, tuples, or even other mappings.

In [17]:
my_dict={'name':"VEC", "number of student" : 2000, 'city': 'warangal'}
my_dict

{'name': 'VEC', 'number of student': 2000, 'city': 'warangal'}

In [20]:
#Accessing Values
print(my_dict['city'])

warangal

In [21]:
#Adding a new key-value pair
my_dict["about"]="Good"
my_dict

{'name': 'VEC', 'number of student': 2000, 'city': 'warangal', 'about': 'Good'}

In [23]:
#Modifying a value
my_dict["number of student"]=5000
my_dict

{'name': 'VEC', 'number of student': 5000, 'city': 'warangal', 'about': 'Good'}

In [24]:
#removing a key value pair
del my_dict['about']
my_dict

{'name': 'VEC', 'number of student': 5000, 'city': 'warangal'}

In [28]:
my_dict={'name':"VEC", "number of student" : 2000, 'city': 'warangal', "name1" : "KITS"}
my_dict

{'name': 'VEC', 'number of student': 2000, 'city': 'warangal', 'name1': 'KITS'}

##Sets
sets are commonly enclosed within curly braces {}

- **Unique Elements**: Sets don't allow repeats; if you try to add something already there, nothing changes.
- **Unordered**: The order of stuff in a set doesn't matter; it can change unpredictably.
- **Mutable**: You can add or remove things from a set after creating it.
- **No Indexing**: You can't pick stuff out of a set by position.
- **Heterogeneous**: Sets can hold different types of things.

In [33]:
set={7, 8, 3, 4, 5}
set

{3, 4, 5, 7, 8}

In [34]:
#Adding elements in set
set.add(1)
set

{1, 3, 4, 5, 7, 8}

In [32]:
set.remove(3)
set

{1, 2, 4, 5, 6}

In [35]:
set.add(1)
set

{1, 3, 4, 5, 7, 8}

In [36]:
set={34, 56, 35, 25}
print(set[0])

TypeError: 'set' object is not subscriptable

##Conditional Constructs

##If statement:
Executes a block of code only if a specified condition is true.

In [37]:
x=10
if x > 5:
  print("x is greath than 5")

x is greath than 5

##If-else statement:
Executes one block of code if a condition is true and another block if it's false.

In [38]:
x=22
if x > 50:
  print("x is greathan than 50")
else:
  print("x is not greater than 50")

x is not greater than 50

##If-elif-else statement:
Allows you to check multiple conditions and execute different blocks of code accordingly.

In [39]:
x=22
if x > 50:
  print("x is greathan than 50")
elif  x==22:
  print("x is equal to 22")
else:
  print("x is not greater than 50")

x is equal to 22

In [40]:
my_list=[1,2,3,4,5]
for  item in my_list:
  print(item)

1
2
3
4
5

In [41]:
user_input=input("Enter number: ")
print("Entered:", user_input)

Enter number: 3
Entered: 3

In [49]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def introduce(self):
        print("Hello, My name is", self.name, "and I am", self.age, "years old.")

person1 = Person("Ganesh", 22)
person1.introduce()

Hello, My name is Ganesh and I am 22 years old.